<!-- <div class="login-container">
  <img src="../assets/Img/deskTop (3).jpg" alt="Logo" class="login-logo">
  <div>
    <form (ngSubmit)="onSubmit()">
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
      <button type="submit">Login</button>
    </form>
  </div>

</div> -->

<div class="row auth-height full-height-vh m-0">

  <div class="col-12 d-flex align-items-center justify-content-center">
    <div class="card overflow-hidden">
      <div class="card-content">
        <div class="card-body auth-img">
          <div class="row m-0">
            <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
              <img src="../assets/Img/deskTop (4).jpg" alt="Logo" class="login-logo" class="img-fluid" width="300"
                height="230">
            </div>
            <div class="col-lg-6 col-12 px-4 py-3">
              <div [hidden]="!loginOrSignup">
                <h4 class="mb-2 card-title">Login</h4>
                <p>Welcome back, please login to your account.</p>
                <form [formGroup]="loginForm">
                  <div class="form-group">
                    <input class="floating-input" placeholder="User Name" formControlName="username" type="text">
                    <span *ngIf="submit && L['username'].errors" class="text-danger"> User Name is required</span>
                  </div>
                  <!-- <div class="form-group">
                    <input class="floating-input" type="text" id="username" placeholder="UserName"
                      [(ngModel)]="username" name="username" required>

                  </div> -->
                  <div class="form-group">
                    <input class="floating-input" placeholder="password" formControlName="password" type="text">
                    <span *ngIf="submit && L['password'].errors" class="text-danger">Password is required</span>
                  </div>
                  <!-- <div class="form-group">
                    <input type="password" id="password" placeholder="Password" class="floating-input"
                      [(ngModel)]="password" name="password" required>

                  </div> -->
                  <div class="d-sm-flex justify-content-between mb-3 font-small-2">
                    <div class="remember-me mb-2 mb-sm-0">
                      <div class="checkbox auth-checkbox">
                      </div>
                    </div>
                    <a [routerLink]="">Forgot Password!</a>
                  </div>
                  <!-- <div class="d-flex justify-content-between flex-sm-row flex-column">
                 <button type="button" class="btn btn-raised btn-md btnRegister ">Register</button> 
                  <button type="submit" class="btnLogin btn btn-md btn-raised">Login</button>
                </div> -->


                </form>
              </div>
              <div [hidden]="loginOrSignup">
                <h4 class="mb-2 card-title">SignUp</h4>
                <p>Welcome back, please SignUp by providing Your Details.</p>
                <form [formGroup]="signupForm">


                  <div class="form-group">
                    <input class="floating-input" placeholder="Name" formControlName="name" type="text">
                    <span *ngIf="submited && f['name'].errors" class="text-danger"> Name is required</span>
                  </div>
                  <div class="form-group">
                    <input class="floating-input" type="number" placeholder="Mobile Number" formControlName="password">
                    <span *ngIf="submited && f['password'].errors" class="text-danger"> Password is required</span>
                  </div>
                  <div class="form-group">
                    <input class="floating-input" type="email" placeholder="Email" formControlName="email">
                    <span *ngIf="submited && f['email'].errors" class="text-danger"> Email is required</span>
                  </div>



                  <!-- <div class="d-flex justify-content-between flex-sm-row flex-column">
                 <button type="button" class="btn btn-raised btn-md btnRegister" id="idRegister">Register</button> 
                  <button type="submit" class="btnLogin btn btn-md btn-raised" id="">Login</button>
                </div> -->


                </form>
              </div>
              <div class="d-flex justify-content-between flex-sm-row flex-column">
                <button type="button" class="btn btn-raised btn-md btnRegister" (click)="onSubmitSignUp()"
                  [hidden]="loginOrSignup">Register</button>
                <button type="submit" class="btnLogin btn btn-md btn-raised" (click)="onSubmitLogin()"
                  [hidden]="!loginOrSignup">Login</button>
              </div>

              <div class="mt-2">
                <button type="button" class="btnCreate btn btn-md btn-raised" [hidden]="!loginOrSignup" (click)="onSubmit('c')">Create New
                  Account</button>
                  <button type="button" class="btnCreate btn btn-md btn-raised" [hidden]="loginOrSignup" (click)="onSubmit('l')">Login</button>
  
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>