<aside>
    <div>
      <ul>
        <li routerLinkActive="active">
          <a routerLink="/dashboard">
            <i class="fas fa-chart-line"></i> Dashboard
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/employeeForm">
            <i class="bi bi-people-fill"></i> Employees Form 
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/home">
            <i class="fas fa-home"></i> Home
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/about">
            <i class="fas fa-info-circle"></i> About
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/contact">
            <i class="fas fa-envelope"></i> Contact
          </a>
        </li>
        
      </ul>
    </div>
  </aside>
  