
<div class="section">

    <div class="card">
        <div class="card-header">
             Dashboard
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Title </th>
                        <th>Description</th>
                        <th>value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of dashboardData">

                        <td class="text-left">{{data.title}}</td>
                        <td class="text-left">{{data.description}}</td>
                        <td class="text-right">{{data.value}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
