/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";
:root{
--cardHeaderBackGroundcolor :#e0e0e9 !important;
--cardHeaderFontWeight:500 !important;
--cardHeaderFontSize:20px  !important;
--cardHeaderFontColor:black;



}

.auth-page {
  background-image: linear-gradient(43deg, rgba(105, 105, 105, 0.02) 0%, rgba(105, 105, 105, 0.02) 62%, rgba(227, 227, 227, 0.02) 62%, rgba(227, 227, 227, 0.02) 69%, rgba(24, 24, 24, 0.02) 69%, rgba(24, 24, 24, 0.02) 80%, rgba(13, 13, 13, 0.02) 80%, rgba(13, 13, 13, 0.02) 82%, rgba(13, 13, 13, 0.02) 82%, rgba(13, 13, 13, 0.02) 100%), linear-gradient(31deg, rgba(155, 155, 155, 0.02) 0%, rgba(155, 155, 155, 0.02) 29%, rgba(164, 164, 164, 0.02) 29%, rgba(164, 164, 164, 0.02) 41%, rgba(200, 200, 200, 0.02) 41%, rgba(200, 200, 200, 0.02) 74%, rgba(229, 229, 229, 0.02) 74%, rgba(229, 229, 229, 0.02) 79%, rgba(15, 15, 15, 0.02) 79%, rgba(15, 15, 15, 0.02) 100%), linear-gradient(319deg, rgba(39, 39, 39, 0.02) 0%, rgba(39, 39, 39, 0.02) 17%, rgba(49, 49, 49, 0.02) 17%, rgba(49, 49, 49, 0.02) 25%, rgba(59, 59, 59, 0.02) 25%, rgba(59, 59, 59, 0.02) 32%, rgba(194, 194, 194, 0.02) 32%, rgba(194, 194, 194, 0.02) 46%, rgba(220, 220, 220, 0.02) 46%, rgba(220, 220, 220, 0.02) 100%), linear-gradient(113deg, rgba(188, 188, 188, 0.02) 0%, rgba(188, 188, 188, 0.02) 15%, rgba(223, 223, 223, 0.02) 15%, rgba(223, 223, 223, 0.02) 46%, rgba(21, 21, 21, 0.02) 46%, rgba(21, 21, 21, 0.02) 88%, rgba(93, 93, 93, 0.02) 88%, rgba(93, 93, 93, 0.02) 94%, rgba(130, 130, 130, 0.02) 94%, rgba(130, 130, 130, 0.02) 100%), linear-gradient(29deg, rgba(134, 134, 134, 0.02) 0%, rgba(134, 134, 134, 0.02) 27%, rgba(181, 181, 181, 0.02) 27%, rgba(181, 181, 181, 0.02) 41%, rgba(81, 81, 81, 0.02) 41%, rgba(81, 81, 81, 0.02) 46%, rgba(253, 253, 253, 0.02) 46%, rgba(253, 253, 253, 0.02) 58%, rgba(74, 74, 74, 0.02) 58%, rgba(74, 74, 74, 0.02) 100%), linear-gradient(90deg, #e5e5e5, #e4e4e4);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}


.main-layout {
  display: flex;
  min-height: calc(100vh - 60px);
  /* Assuming navbar and footer are each 30px high */
}

.sidebar {
  width: 200px;
  background-color: #7a7a8f;
  color: white;
  border-top: 1px solid;
  border-bottom: 1px solid;
  
  /* background-image: url('src/assets//Img/image\ bg.jpg'); */
}

.content {
  flex: 1;
  padding: 20px;
  /* background-color: #ffffff; */
  background: hsl(var(--hue), calc(var(--sat) * 1%), calc(var(--light) * 1%));
  /* Main content background color */
  /* background-image: url('src/assets//Img/image bg.jpg'); */
   /* background-image: url('src/assets//Img/imagebg1.jpg');  */
}

.footer {
  background: #79798d;
  color: white;
  text-align: center;
  padding: 5px !important;
}

.navbar {
  background: #79798d !important;
}

a {
  text-decoration: none !important;
  background-color: transparent !important;
  color: white !important;
}

ul {
  list-style-type: none;

  padding: 21px;
}

ul li {
  padding: 5px !important;
  font-weight: 600;
}

.card {
  margin: var(--cardBetweenSpace);
  border: 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: var(--cardBodyBackGroundColor);
  background-clip: border-box;
  border-radius: var(--cardBodyBorderRadious);
  border: var(--cardBodyBorderColor) !;
}

.card .card-header {
  padding: 5px 10px 5px 10px  !important;
  text-transform: capitalize !important;
  font-size: var(--cardHeaderFontSize) !important;
  border-bottom: 1px solid #a9a9a9 !important;
  border: 0px !important;
  background-color: var(--cardHeaderBackGroundcolor) !important;
  font-weight: var(--cardHeaderFontWeight) !important;
  font-size: var(--cardHeaderFontSize) !important;
  color: var(--cardHeaderFontColor) !important;
  letter-spacing: 1px;

}

.card-body {
  padding-left: 6px !important;
  padding-right: 6px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  margin: 5px ;
}
.floating-label label {
  color: black !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  position: absolute !important;
  pointer-events: none !important;
  white-space: nowrap !important;
  left: 5px !important;
  top: -18px !important;
  transition: 0.2s ease all !important;
  -moz-transition: 0.2s ease all !important;
  -webkit-transition: 0.2s ease all !important;
  transition: 0.2s ease all !important;
  font-family: sans-serif !important;
  text-transform: capitalize !important;
}

.floating-label {
  position: relative !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.floating-input,
.floating-select {
  font-size: 13px;
  padding: 4px 4px;
  display: block;
  width: 100%;
  height: 30px;
  font-weight: 500;
  color: black !important;
  ;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
  font-family: sans-serif;
}

.floating-input:focus~label,:focus-visible,
.floating-input:not(:placeholder-shown)~label {
  top: -18px;
  font-size: 13px !important;
  color: black;
  font-weight: 500;
  left: 2px;
  outline: none;
}
.table thead th{
  vertical-align: middle !important;
  padding: 5px !important;
  border-bottom: 0px solid #a9a9a9;
  background-color: #1a3c8c;
  color: white;
  font-weight: 500;
  text-align: center !important;
}


/* buttons styles */
.btnLogin {
  /* background-color:#90cd9b !important; */
  background-color:#057e1b !important;
  color: white !important;
  width: 100px !important;
  height: 35px !important;
  border: none !important; 
  border-radius: 3px !important;
}

.btn.btnLogin:hover {
  background: #057e1b !important;
  color: white !important;
  border-color: #975AFF !important;

  /* background: #975AFF !important;
  color: white !important;
  border-color: #975AFF !important; */
}
.btnRegister {
  background-color:#8999ab !important;
  color: white !important;
  width: 100px !important;
  height: 35px !important;
  border: none !important; 
  border-radius: 3px !important;
}

.btn.btnRegister:hover {
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}
.btnLogout {
  background-color:#8999ab !important;
  color: white !important;
  width: 100px !important;
  height: 35px !important;
  border: none !important; 
  border-radius: 3px !important;
}

.btn.btnLogout:hover {
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}

button:hover .starts{
  display: block;
  filter: drop-shadow(0 0 10px #fffdef);
}

.btnAdd {
  /* background-color:#90cd9b !important; */
  background-color:#057e1b !important;
  color: white !important;
  width: 100px !important;
  height: 35px !important;
  border: none !important; 
  border-radius: 3px !important;
}

.btn.btnAdd:hover {
  background: #057e1b !important;
  color: white !important;
  border-color: #975AFF !important;

  /* background: #975AFF !important;
  color: white !important;
  border-color: #975AFF !important; */
}